.header {
  width: 90%;
  height: 32px;
  display: flex;
  font-family: cursive;
  line-height: 32px;
  text-align: center;
  /* identical to box height, or 114% */

  letter-spacing: -0.05em;

  /* Dark Grey */

  color: #333333;
  align-items: center;
  justify-content: space-between;
}
.header > h1 {
  font-size: 20px;
  font-weight: bold;
}
